ALGERNON_ENV=DEV
PRIVATE_KEY=

SKALE_ENDPOINT=https://dev-testnet-v1-0.skalelabs.com
SKALE_NETWORK_ID=0x54A7E
SKALE_PRIVATE_KEY=
FORTMATIC_API_KEY=
KOVAN_ENDPOINT=
LOCAL_CHAIN_ENDPOINT=http://localhost:8545
IPFS_ENDPOINT=/ip4/0.0.0.0/tcp/5001

REACT_APP_THE_GRAPH_ENDPOINT=http://127.0.0.1:8000/subgraphs/name/cirsteve/algernon
REACT_APP_THE_GRAPH_WS_ENDPOINT=http://127.0.0.1:8001/subgraphs/name/cirsteve/algernon
