REACT_APP_ALGERNON_ENV=DEV

REACT_APP_KOVAN_IPFS_ENDPOINT=
REACT_APP_LOCAL_IPFS_ENDPOINT=http://localhost:3000/dev

REACT_APP_LOCAL_SUBGRAPH_ENDPOINT=http://127.0.0.1:8000/subgraphs/name/cirsteve/algernon
REACT_APP_KOVAN_SUBGRAPH_ENDPOINT=https://api.thegraph.com/subgraphs/name/ministry-of-decentralization/algernon-kovan

REACT_APP_LOCAL_CHAIN_ENDPOINT=http://localhost:8545
REACT_APP_KOVAN_CHAIN_ENDPOINT=

REACT_APP_FORTMATIC_API_TEST_KEY=
REACT_APP_FORTMATIC_API_LIVE_KEY=