ALGERNON_ENV=DEV
PRIVATE_KEY=
SKALE_ENDPOINT=https://dev-testnet-v1-0.skalelabs.com
SKALE_NETWORK_ID=0x54A7E
SKALE_PRIVATE_KEY=
FORTMATIC_API_KEY=
RINKEBY_ENDPOINT=
LOCAL_CHAIN_ENDPOINT=http://localhost:8545
IPFS_ENDPOINT=/ip4/0.0.0.0/tcp/5001
DYNAMODB_ENDPOINT=http://localhost:8002